<link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/public/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/css/style.css" rel="stylesheet">
<link href="/public/css/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="public/js/html5shiv.js"></script>
<![endif]-->