      <{if $isLogin==0}>
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li <{if $smarty.get.c == 'main' and $smarty.get.a == 'index'}> class="active" <{/if}> ><a href="<{spUrl c='main' a='index'}>">首页</a></li>
          <li <{if $smarty.get.c == 'user' and $smarty.get.a == 'register'}> class="active" <{/if}> ><a href="<{spUrl c='user' a='register'}>">注册</a></li>
          <li <{if $smarty.get.c == 'user' and $smarty.get.a == 'signin'}> class="active" <{/if}> ><a href="<{spUrl c='user' a='signin'}>">登录</a></li>
        </ul>
        <h3 class="muted">Party Time</h3>
      </div>
      <{/if}>
      <{if $isLogin==1}>
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li <{if $smarty.get.c == 'party' and $smarty.get.a == 'index'}> class="active" <{/if}> ><a href="<{spUrl c='party' a='index'}>">首页</a></li>
          <li><a href="<{spUrl c='user' a='signout'}>">退出</a></li>
        </ul>
        <h3 class="muted">Party Time</h3>
      </div>
      <{/if}>