body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.form-horizontal {
    margin: 0 auto;
    width:550px;
}
.date-picker{
    cursor: pointer;
}
textarea{
    resize:none;
}
.b_green{
    background-color: #dff0d8;
}
.b_yellow{
    background-color: #fcf8e3;
}
.b_red{
    background-color: #f2dede;
}